.idea
*.iml
*.xml
!pom.xml
/target/
*.xlsx
*.csv
*.zip
!src/test/resources/reconciliation/golden/**
src/main/resources/application-local.yml
src/main/resources/application-k3s.yml
.env
/src/test/manual/http-client.private.env.json
/generated
/scripts
/tools/Db*.java
/tools/MigrateFix.java
/tools/*.class
/tools/
/src/test/python/
/.github/TODO/
/.m2-local/
/.m2/
/.m2-wrapper-cache/
