.idea
*.xml
!pom.xml
/target/
*.xlsx
*.csv
*.zip
src/main/resources/application-local.yml
.env
/src/test/manual/http-client.private.env.json
/generated
/scripts
/tools/Db*.java
/tools/MigrateFix.java
/tools/*.class
/tools/
/src/test/python/
/.github/TODO/
